/* Root Element */

:root {
    --dark: #313131;
    --plum: tomato;
    padding: 5em 3em;
}

/* Form Section */
body {
    background-color: #659f8f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--dark);
}

p {
    color: var(--dark);
    font-size: 2em;
}

#myEmail {
    border: none;
    padding: 1em 1.5em;
    text-align: left;
    font-size: 1em;
    margin: 4px 2px;
    border-radius: 8px;
    width: 13em;
    height: 1em;
    border: 1px solid white;
}

.button {
  border: none;
  background-color: var(--plum);
  color: white;
  padding: 1em 0.9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  width: 8em;
  height: 3.2em;
  border: 1px solid var(--plum);
}

/* Container Mistake Review
.container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #659f8f;
    padding: 10px;
    border-bottom: 2px solid var(--plum);
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    text-align: left;
}
*/

img {
    padding-top: 2em;
    padding-bottom: 13em;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 6ch;
}

.button #myEmail > section {
    display: flex;
}

/* Page Navigation Section */
h1 {
    font-size: 1em;
    text-align: left;
    color: var(--dark);
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    line-height: 1.5em;
}


/* Container Code Correction */
.navigation {
    display: flex;
}

/* Grid Area */
.update { grid-area: zero; }
.heading1 { grid-area: one; }
.heading2 { grid-area: two; }
#myEmail { grid-area: three; }
.button { grid-area: four; }
.nav1 { grid-area: five; }
.nav2 { grid-area: six; }
img { grid-area: seven; }

.container {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'zero zero one two'
    'three four five six'
    'seven seven seven seven'
}

.container {
    border-bottom: 0.1em solid var(--plum);
}


/* Media */
@media (max-width: 768px) {
    .update { grid-area: 1 / span 6; }
    #myEmail { grid-area: 2 / span 3; }
    .button { grid-area: 2 / span 3; }
    .navigation { grid-area: 3 / span 3; }
    .nav1 { grid-area: 4 / span 3; }
    .nav2 { grid-area: 4 / span 3; }
    img { grid-area: 5 / span 6; }
}

@media (max-width: 667px) {
    .navigation {
        flex-direction: column;
    }
    .update { grid-area: 1 / span 6; }
    #myEmail { grid-area: 2 / span 3; }
    .button { grid-area: 3 / span 6; }
    .nav1 { grid-area: 4 / span 6; }
    .nav2 { grid-area: 4 / span 6; }
    img { grid-area: 5 / span 6; }

    .button {
        width: 16em;
    }
}