/* Root Element */

:root {
    --dark: #313131;
    --plum: tomato;
}

/* Form Section */
body {
    background-color: #659f8f;
}

p {
    color: var(--dark);
    font-size: 2em;
}

#myEmail {
    border: none;
    padding: 1em 1.5em;
    text-align: left;
    font-size: 1em;
    margin: 4px 2px;
    border-radius: 8px;
}

.button {
  border: none;
  background-color: var(--plum);
  color: white;
  padding: 1em 0.9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* Page Navigation Section */

.heading {
    font-size: 1em;
    text-align: left;
    color: var(--dark);
}

#heading1 {
    text-align: left;
}

#heading2 {
    text-align: left;
}

.container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: #659f8f;
    padding: 10px;
    border-bottom: 2px solid var(--plum);
}
